.content {
  min-width: 30%;
  max-width: 64%;
  width: 1200px;
  margin: auto;

  #hotelInfoContainer {
    display: flex;
    flex-direction: row;

    carousel {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  #hotelDetails {
    display: flex;
    flex-direction: column;
    //min-width: 300px;
  }

}


@media screen and (max-aspect-ratio: 16/9) {
  .content {
    max-width: 100%;
    min-width: 100%;
  }

  @media screen and (max-width: 956px) {
    .content {
      #hotelInfoContainer {
        flex-direction: column;
        carousel{
          height: 538px;
        }
      }
    }
  }
}
