<div class="content" role="main">
  <!-- carasouel -->
  <article id="hotelInfoContainer" class="rounded-corner__bottom-right rounded-corner__bottom-left">
    <carousel></carousel>

    <!-- hotel details -->
    <div id="hotelDetails">
      <section id="hotelTitle">
        <p>... / {{breadcrumbs}}</p>
        <br>
        <h1 class="text__title--lg">{{hotelTitle}}</h1>

        <div class="icon">
          <svg class="icon">
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
          </svg>
          <svg class="icon">
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
          </svg>
        </div>

      </section>

      <app-reviews></app-reviews>

      <app-amenities></app-amenities>

      <app-area-information></app-area-information>
    </div>
  </article>


  <article>
    <app-available-rooms></app-available-rooms>
  </article>
</div>
