<section id="area-information">
  <figure class="map" [ngStyle]="{backgroundImage: imagePath}"></figure>

  <p class="link map-address">
    <span class="icon">
      <svg viewBox="0 0 30 30">
        <path
          d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z"></path>
      </svg>
    </span>
    <span>16838 International Boulevard, SeaTac, WA</span>
  </p>

  <h4 class="text__title--sm nearby">What's nearby</h4>

  <div class="flex__row">
    <div class="icon">
      <svg>
        <path
          d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z"></path>
      </svg>
      <span class="icon__text">Museum of Flight</span>
    </div>
    <div>8 min drive</div>
  </div>

  <div class="flex__row">
    <div class="icon">
      <svg>
        <path
          d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z"></path>
      </svg>
      <span class="icon__text">T-Mobile Park</span>
    </div>
    <div>15 min drive</div>
  </div>

  <div class="flex__row">
    <div class="icon">
      <svg>
        <path
          d="M8.1 13.34l2.83-2.83L3.91 3.5a4.008 4.008 0 0 0 0 5.66l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27L3.7 19.87l1.41 1.41L12 14.41l6.88 6.88 1.41-1.41L13.41 13l1.47-1.47z"></path>
      </svg>
      <span class="icon__text">T-Mobile Park</span>
    </div>
    <div>7 min walk</div>
  </div>

  <div class="flex__row">
    <div class="icon">
      <svg>
        <path
          d="M8.1 13.34l2.83-2.83L3.91 3.5a4.008 4.008 0 0 0 0 5.66l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27L3.7 19.87l1.41 1.41L12 14.41l6.88 6.88 1.41-1.41L13.41 13l1.47-1.47z"></path>
      </svg>
      <span class="icon__text">T-Mobile Park</span>
    </div>
    <div>17 min walk</div>
  </div>


</section>
